body {
  background-color: $body-bg;
}
.container {
  max-width: 1782px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.d-none {
  display: none !important;
}
.col-3 {
  grid-template-columns: 33% 33% 33%;
}
.col-4 {
  grid-template-columns: 20% 23% 27% 27%;
}
